/* Global variable */
:root {
    --font-family: arial, sans-serif;
    --background-color: rgb(82, 82, 82);
    --widget-color: rgb(73, 73, 73);
    --white: rgb(214, 214, 214);
    --green: rgb(36, 139, 36);
    --red: rgb(211, 13, 13);
}

html, body {
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    cursor: default;
    position: relative;
    max-height: 500px;
    max-width: 600px;
    overflow: hidden;
}

.container {
    display: block;
    position: relative;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}



#title {
    margin-top: 8px;
    position: relative;
    font-family: var(--font-family);
    color: var(--white);
    font-size: 40px;
    margin-left: 50%;
    transform: translate(-25%, 0);
    width: 50%;
}

.dataform {
    font-family: var(--font-family);
    color: var(--white);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    margin-top: 0%;
    margin-left: 10%;
    width: 90%;
}

.runwayinfo {
    position: relative;
    left: 10%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6px;
}

.inputgroup {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
}

#oacigroup {
    gap: 2px;
}

.runwayinfo > h3 {
    position: absolute;
    left: -95px;
    top: -25px;
}

input {
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
    position: relative;
    top: -4px;
}

input[type="text"], input[type="number"] {
    width: 30px;
    text-transform: uppercase;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

#has4runwaycheck {
    cursor: pointer;
    position: relative;
    left: -5%;
    transform: scale(1.3);
}

#submitbutton {
    background-color: rgb(78, 148, 214);
    color: aliceblue;
    padding: 6px 10px;
    border: 0;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    width: 80%;
    margin-left: 6%;
    margin-top: 8%;
}

#submitbutton:hover {
    background-color: yellow;
    color: black;
}