body {
    background-color: rgb(56, 56, 56);
    cursor: default;
}

h1 {
    color: rgb(212, 212, 212);
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}


h2 {
    color: rgb(214, 214, 214);
    margin-right: 10%;
}


#status {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.statusIndicators {
    margin: auto 5%;
}

#FIRbuttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
}



#rwydata {
    color: red;
}

#config {
    color: red;
}

#tokenStatus {
    color: red;
}

.about {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 0px;
}

#rwyFile {
    position: fixed;
    z-index: -1;
    top: -4px;
    left: 68px;
    font-size: 15px;
    color: black;
}

.button-wrap {
    position: relative;
    top: 0px;
}

.button {
    background-color: rgb(78, 148, 214);
    color: aliceblue;
    padding: 6px 10px;
    border: 0;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
}

.button:hover {
    background-color: yellow;
    color: black;
}

#path {
    position: fixed;
    top: 0px;
    left: 160px;
    display: none;
    font-size: 10px;
}

#TokenManagement {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 0px;
    position: relative;
}

#APItokenTitle {
    position: static;
    color: rgb(211, 211, 211);
    font-size: 20px;
    background-color: rgb(73, 73, 73);
    padding: 8px;
    border-radius: 10px;
}

#APItoken {
    position: absolute;
    top: 23px;
    left: 140px;
    width: 60%;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
}

#FIRairportManagement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#FIRairportsTitle {
    color: white;
    position: static;
    background-color: rgb(73, 73, 73);
    padding: 8px;
    border-radius: 10px;
}

#FIRselect {
    position: relative;
    top: -62px;
    left: 120px;
    width: 15%;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
}

#FIRselect:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}


#airportSelect {
    position: relative;
    top: -62px;
    left: 120px;
    width: 50%;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
}

#resetButton {
    background-color: rgb(167, 0, 0);
    color: white;
    position: relative;
    top: -62px;
    left: 117px;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: rgb(230, 0, 0);
}

#readme {
    background-color: rgb(5, 100, 5);
    margin-left: 80px;
    color: black;
}

#readme:hover {
    background-color: rgb(51, 145, 51);
    color: white;
}